@use '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.main-content {
  margin-bottom: 70px; /* フッターとの被りを解消 */
}

.orange-underline {
  position: relative;
  padding: 1rem .2rem;
}

.orange-underline:after { /* 見出しの線です */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  content: '';
  background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
  background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.posted_detail_heading {
  padding: 1rem 2rem;
  border-left: 4px solid #000;
}

.posted_detail_comment {
  padding: 0rem 0rem 0rem 0.5rem;
  border-left: 4px solid #000;
}

.tags {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #ff9742;
}

.tags:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}

.background-header {
  // background-image: url(<%= asset_path 'antenna.jpg' %>);
  height: 600px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.border-header {
  border: solid 7px white;
  border-radius: 10px;
}

.text-shadow {
  text-shadow: 1px 2px 3px #808080;
}

.text-shadow_sub {
  text-shadow: 0 0 10px rgba(0,0,0,1), 0 0 5px rgba(0,0,0,1);
}

.gradient-overlay {
  position: relative;
}

.gradient-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.heading_sub {  /* 見出しの下に線を引く */
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.heading_sub:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #000;
}